* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo{
  width: 15vw;
}

.claseImg {
  width: 100px !important;
  height: 100px !important;
}

.table-responsive {
  max-height:45vh;
  width: 20vw;
  border-radius: 10px !important;
}

.HitDice{
  max-width: 10vw !important;
}

.datosRaza{
  max-width: 30vw !important;
}

.exp{
  text-decoration: none;
  border: 0;
  background-color: rgba(240, 248, 255, 0);
  color: white;
}